@model OnlineSurvey.ViewModel.UserProcedureViewModel

@{
    ViewBag.Title = "ActiveMyProcedure";
    Layout = "~/Views/Shared/_UserDashboard.cshtml";
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-10 offset-md-2 mt-5">
            @using (Html.BeginForm("ActiveMyProcedure", "MyProcedureArea", FormMethod.Post, new { onsubmit = "return SubmitFormCreate(this)" }))
            {

                {
                    @Html.AntiForgeryToken()

                    <div class="card card-cascade narrower">

                        <!-- Card image -->
                        <div class="view view-cascade gradient-card-header blue-gradient">

                            <!-- Title -->
                            <h4 class="card-header-title">Your procedure activiation</h4>
                            <!-- Subtitle -->
                            <!-- Facebook -->


                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade ">

                            <!-- Text -->
                            <div class="form-horizontal">


                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group d-flex justify-content-center">

                                    <button type="submit" value="Active your procedure" class="btn btn-rounded btn-success "><i class="fas fa-check-circle mr-2 fa-lg"></i> Active your procedure</button>

                                </div>
                                <hr />
                            </div>

                        </div>

                    </div>


                }

            }
        </div>
    </div>
  
</div>




@section scripts {
  

  

    <script src="~/Scripts/notify.min.js"></script>
    <script>

        function SubmitFormCreate(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {

                            $.notify(data.message, {
                                Position: "right",
                                className: "success"
                            });

                        }
                        else
                            $.notify(data.message, {
                                Position: "right",
                                className: "error"
                            })
                    }
                });
            }
            return false;
        }
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}

