@model IEnumerable<OnlineSurvey.ViewModel.UserCommentViewModel>

@{
    ViewBag.Title = "GetCommentData";
    Layout = "~/Views/Shared/_UserDashboard.cshtml";
}

<div class="container pt-5">
    <div class="row pt-5">
        <div class="col-md-11 ">
           
                <div class="container py-5 px-md-5 z-depth-1">


                    <!--Section: Content-->
                    <section class="text-center text-lg-left dark-grey-text">

                        <div class="text-center font-weight-bold"><span></span> comments</div>
                        @foreach (var item in Model)
                        {
                            <div class="media d-block d-md-flex mt-4">
                                <div class=" rounded z-depth-1 d-flex mx-auto mb-3">
                                    @item.UserName
                                </div>
                                <div class="media-body text-center text-md-left ml-md-3 ml-0">
                                    <p class="font-weight-bold my-0">
                                        Miley Steward
                                        <a href="" class="pull-right ml-1">
                                            <i class="fas fa-reply"></i>
                                        </a>
                                    </p>
                                   @Html.Raw(item.Comment)
                                    @*<div class="media d-block d-md-flex mt-4">
                        <img class="card-img-64 rounded z-depth-1 d-flex mx-auto mb-3"
                             src="https://mdbootstrap.com/img/Photos/Avatars/img (27).jpg" alt="Generic placeholder image">
                        <div class="media-body text-center text-md-left ml-md-3 ml-0">
                            <p class="font-weight-bold my-0">
                                Tommy Smith
                                <a href="" class="pull-right ml-1">
                                    <i class="fas fa-reply"></i>
                                </a>
                            </p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            totam rem aperiam, eaque
                            ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        </div>
                    </div>*@

                                    <!-- Quick Reply -->


                                </div>
                            </div>
                        }



                    </section>
                    <!--Section: Content-->


                </div>
           
        </div>
    </div>
</div>



