@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav nav-flex-icons ml-auto">
            
            @*<li class="nav-item">
              
                <a class="nav-link"><i class="fas fa-envelope"></i> <span class="clearfix d-none d-sm-inline-block">Notification</span></a>
            </li>*@
            <li class="nav-item">
                <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link"><i class="fas fa-power-off"></i> <span class="clearfix d-none d-sm-inline-block">Log off</span></a>
            </li>
            <li class="nav-item">
                <a href="/UserDashboardArea/Index" class="nav-link"><i class="fas fa-tachometer-alt"></i> <span class="clearfix d-none d-sm-inline-block">Dahsboard</span></a>
            </li>
            @*<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>*@
        </ul>
        @*<ul class="nav navbar-nav navbar-right container">

            <li class=""><a class="nav-link small ml-auto" href="/Account/Login"> <i class="far fa-user-circle"></i></a></li>
            <li class=""><a class="nav-link ml-auto" href="/Account/Register"><span class="btn btn-transparent  btn-outline-white  btn-rounded btn-sm"> Sign Up <i class="fas fa-key"></i> </span></a></li>


            <li class="pt-2">
                <a class=" " href="javascript:document.getElementById('logoutForm').submit()"><span class="btn btn-rounded btn-sm">Log off</span></a>
            </li>
            <li class="hide"><a class="nav-link ml-auto" href="/Manage/Index"><span class="btn-floating btn-default  btn-sm"><i class="fas fa-unlock"></i> </span></a></li>

        </ul>*@
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class=""><a class="nav-link small ml-auto" href="/Account/Login"><span class="btn btn-transparent btn-outline-white btn-rounded  btn-sm"> Sign In <i class="fas fa-unlock"></i> </span></a></li>
        <li class=""><a class="nav-link ml-auto" href="/Account/Register"><span class="btn btn-transparent  btn-outline-white  btn-rounded btn-sm"> Sign Up <i class="fas fa-key"></i> </span></a></li>
        @*<li class="btn rounded btn-outline-white btn-sm">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        @*<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    </ul>
}
