<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>asurvey.dk.web7.curanetserver.dk</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>asurvey.dk.web7.curanetserver.dk</MSDeployServiceURL>
    <DeployIisAppPath>asurvey.dk</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>asurvey.dk</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OnlineSurvey" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5109.site4now.net;Initial Catalog=db_a7f0b1_onlinesurvey;User ID=db_a7f0b1_onlinesurvey_admin;Password=sN3A6Zsz8S" Name="Data Source=SQL5109.site4now.net;Initial Catalog=db_a7f0b1_onlinesurvey;User Id=db_a7f0b1_onlinesurvey_admin;Password=sN3A6Zsz8S" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="OnlineSurvey.Data.ApplicationDbContext, OnlineSurvey.Data" MigrationConfiguration="OnlineSurvey.Data.Migrations.Configuration, OnlineSurvey.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="OnlineSurvey-Web.config Connection String">
      <ParameterValue>Data Source=SQL5109.site4now.net;Initial Catalog=db_a7f0b1_onlinesurvey;User Id=db_a7f0b1_onlinesurvey_admin;Password=sN3A6Zsz8S</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>