@model OnlineSurvey.ViewModel.PageViewModel
@{
    ViewBag.Title = ViewBag.PageTitle;
}

@if (Model?.Id != null)
{
    <div class="container my-5 card">


        <!--Section: Content-->
        <section class="dark-grey-text">

            <div class="row pr-lg-5">
                <div class="col-md-7 mb-4">

                    <div class="view img-fluid">
                        <lottie-player src="@Model.AnimationUrlForPage" background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                    </div>

                </div>
                <div class="col-md-5 d-flex align-items-center">
                    <div>

                        <h3 class="font-weight-bold mb-4">@Model.Title</h3>

                        <p>@Model.Content</p>

                    </div>
                </div>
            </div>

        </section>
        <!--Section: Content-->


    </div>
}


