@model OnlineSurvey.ViewModel.PageViewModel
@{
    ViewBag.Title = ViewBag.PageTitle;
}

@if (Model?.Id != null)
{
<div class="HomeMainContetn">
</div>
<div class="container my-5 py-5 card z-depth-1">


    <!-- Section: Block Content -->
    <section class="dark-grey-text text-center">
       

        <p class="text-justify w-responsive mx-auto">@Model.Content</p>

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Block Content -->


</div>
}

